<!DOCTYPE HTML>
<html>
<head>
    <title>Phone IMU</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('server_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Received: ' + msg.data).html());
                if (cb)
                    cb();
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function() {
                start_time = (new Date).getTime();
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function() {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            $('form#emit').submit(function(event) {
                socket.emit('my_event', {data: $('#emit_data').val()});
                return false;
            });

            $('form#action').submit(function(event) {
                socket.emit('action_request');
                return false;
            });


            // Get device motion
            if ('LinearAccelerationSensor' in window && 'Gyroscope' in window) {
                document.getElementById('moApi').innerHTML = 'Generic Sensor API';

                let lastReadingTimestamp;
                let accelerometer = new LinearAccelerationSensor();
                accelerometer.addEventListener('reading', e => {
                    if (lastReadingTimestamp) {
                        intervalHandler(Math.round(accelerometer.timestamp - lastReadingTimestamp));
                    }
                    lastReadingTimestamp = accelerometer.timestamp
                    accelerationHandler(accelerometer, 'moAccel');
                });
                accelerometer.start();

                if ('GravitySensor' in window) {
                    let gravity = new GravitySensor();
                    gravity.addEventListener('reading', e => accelerationHandler(gravity, 'moAccelGrav'));
                    gravity.start();
                }

                let gyroscope = new Gyroscope();
                gyroscope.addEventListener('reading', e => rotationHandler({
                    alpha: gyroscope.x,
                    beta: gyroscope.y,
                    gamma: gyroscope.z
                }));
                gyroscope.start();

            } else if ('DeviceMotionEvent' in window) {
                document.getElementById('moApi').innerHTML = 'Device Motion API';

                var onDeviceMotion = function (eventData) {
                    accelerationHandler(eventData.acceleration, 'moAccel');
                    accelerationHandler(eventData.accelerationIncludingGravity, 'moAccelGrav');
                    rotationHandler(eventData.rotationRate);
                    intervalHandler(eventData.interval);
                }
                window.addEventListener('devicemotion', onDeviceMotion, false);
            } else {
                document.getElementById('moApi').innerHTML = 'No Accelerometer & Gyroscope API available';
            }

            function accelerationHandler(acceleration, targetId) {
                var info, xyz = "[X, Y, Z]";

                info = xyz.replace("X", acceleration.x && acceleration.x.toFixed(3));
                info = info.replace("Y", acceleration.y && acceleration.y.toFixed(3));
                info = info.replace("Z", acceleration.z && acceleration.z.toFixed(3));
                document.getElementById(targetId).innerHTML = info;
            }

            function rotationHandler(rotation) {
                var info, xyz = "[X, Y, Z]";

                info = xyz.replace("X", rotation.alpha && rotation.alpha.toFixed(3));
                info = info.replace("Y", rotation.beta && rotation.beta.toFixed(3));
                info = info.replace("Z", rotation.gamma && rotation.gamma.toFixed(3));
                document.getElementById("moRotation").innerHTML = info;
            }

            function intervalHandler(interval) {
                document.getElementById("moInterval").innerHTML = interval;
            }
        });
    </script>
</head>
<body>
    <h1>Phone Inertial Measurement Unit</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>

    <form id="action" method="POST" action="#">
        <input type="submit" value="Action">
    </form>

    <table>
        <tr>
            <td>API used</td>
            <td id="moApi"></td>
        </tr>
        <tr>
            <td>linear acceleration (excl. gravity)</td>
            <td id="moAccel"></td>
        </tr>
        <tr>
            <td>acceleration incl. gravity</td>
            <td id="moAccelGrav"></td>
        </tr>
        <tr>
            <td>rotation rate</td>
            <td id="moRotation"></td>
        </tr>
        <tr>
            <td>interval (ms)</td>
            <td id="moInterval"></td>
        </tr>
    </table>

    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
