<!DOCTYPE HTML>
<html>
<head>
    <title>Phone IMU</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for server sent data.
            socket.on('server_response', function(msg, cb) {
                $('#log').append('<br>' + $('<div/>').text('Server: ' + msg.text).html());
                if (cb)
                    cb();
            });

            $('form#action').submit(function(event) {
                socket.emit('action_request');
                $('#log').append('<br>' + $('<div/>').text('Client: Asked server to start/stop recording').html());
                return false;
            });

            // Send device motion
            var ax = 0;
            var ay = 0;
            var az = 0;
            var gx = 0;
            var gy = 0;
            var gz = 0;

            var sendDataLoop;
            function sendData() {
                socket.emit('incoming_data', {data: [Date.now(), ax, ay, az, gx, gy, gz]});
            };
            function startSending(sendInterval) {
                sendDataLoop = setInterval(sendData, sendInterval);
            };
            function stopSending() {
                clearInterval(sendDataLoop);
            };
            socket.on('set_interval', function(msg, cb) {
                stopSending();
                startSending(msg['interval']);
            });
            startSending(10);

            // Update device motion
            if ('LinearAccelerationSensor' in window && 'Gyroscope' in window) {
                document.getElementById('moApi').innerHTML = 'Generic Sensor API';

                let lastReadingTimestamp;
                let accelerometer = new LinearAccelerationSensor();
                accelerometer.addEventListener('reading', e => {
                    if (lastReadingTimestamp) {
                        intervalHandler(Math.round(accelerometer.timestamp - lastReadingTimestamp));
                    }
                    lastReadingTimestamp = accelerometer.timestamp
                    accelerationHandler(accelerometer, 'moAccel');
                });
                accelerometer.start();

                if ('GravitySensor' in window) {
                    let gravity = new GravitySensor();
                    gravity.addEventListener('reading', e => accelerationHandler(gravity, 'moAccelGrav'));
                    gravity.start();
                }

                let gyroscope = new Gyroscope();
                gyroscope.addEventListener('reading', e => rotationHandler({
                    alpha: gyroscope.x,
                    beta: gyroscope.y,
                    gamma: gyroscope.z
                }));
                gyroscope.start();

            } else if ('DeviceMotionEvent' in window) {
                document.getElementById('moApi').innerHTML = 'Device Motion API';

                var onDeviceMotion = function (eventData) {
                    accelerationHandler(eventData.acceleration, 'moAccel');
                    accelerationHandler(eventData.accelerationIncludingGravity, 'moAccelGrav');
                    rotationHandler(eventData.rotationRate);
                    intervalHandler(eventData.interval);
                }
                window.addEventListener('devicemotion', onDeviceMotion, false);
            } else {
                document.getElementById('moApi').innerHTML = 'No Accelerometer & Gyroscope API available';
            }

            function accelerationHandler(acceleration, targetId) {
                var info, xyz = "[X, Y, Z]";
                ax = acceleration.x;
                ay = acceleration.y;
                az = acceleration.z;

                info = xyz.replace("X", acceleration.x && acceleration.x.toFixed(3));
                info = info.replace("Y", acceleration.y && acceleration.y.toFixed(3));
                info = info.replace("Z", acceleration.z && acceleration.z.toFixed(3));
                document.getElementById(targetId).innerHTML = info;
            }

            function rotationHandler(rotation) {
                var info, xyz = "[X, Y, Z]";
                gx = rotation.alpha;
                gy = rotation.beta;
                gz = rotation.gamma;

                info = xyz.replace("X", rotation.alpha && rotation.alpha.toFixed(3));
                info = info.replace("Y", rotation.beta && rotation.beta.toFixed(3));
                info = info.replace("Z", rotation.gamma && rotation.gamma.toFixed(3));
                document.getElementById("moRotation").innerHTML = info;
            }

            function intervalHandler(interval) {
                document.getElementById("moInterval").innerHTML = interval;
            }
        });
    </script>
</head>
<body>
    <h1>Phone Inertial Measurement Unit</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <h2>Send:</h2>

    <form id="action" method="POST" action="#">
        <input type="submit" value="Start/Stop recording">
    </form>

    <table>
        <tr>
            <td>API used</td>
            <td id="moApi"></td>
        </tr>
        <tr>
            <td>linear acceleration (excl. gravity)</td>
            <td id="moAccel"></td>
        </tr>
        <tr>
            <td>acceleration incl. gravity</td>
            <td id="moAccelGrav"></td>
        </tr>
        <tr>
            <td>rotation rate</td>
            <td id="moRotation"></td>
        </tr>
        <tr>
            <td>interval (ms)</td>
            <td id="moInterval"></td>
        </tr>
    </table>

    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
